<p>
  <b>Post:</b>
  <%=h @message.post_id %>
</p>

<p>
  <b>User:</b>
  <%=h @message.user_id %>
</p>

<p>
  <b>Message:</b>
  <%=h @message.body %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>